.wrapper {

}
.titre {
  h3 {
    opacity: 0.4;
  };
}

.super {

}
.content-frame {
  margin: 10px;
  // height: 50vh;
}
.container {

  color: black;
  width: 100vw !important;
  @media(max-width: $screen-sm) {
   29      font-size: 30px;
   30    }
}

.banner-half {
  height: 400px !important;
}

// @media only screen and (max-width: 768px) {
//     /* For mobile phones: */
//     [class*="col-"] {
//         width: 100%;
//     }
// }
.banner {
    color: white;
    text-align: center;
    height: 100vh;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 250, 250, 0.9)
}
 legend {
  color: white;
}
/* Navbar  */
.logo {
  height:45px;
}

.navbar {
  padding: 10 0 0 20px;
}

.navbar {

}
.navbar-header {
  padding: 0 20px;
}

.navbar-nav {
  position: relative;
  float-right: 20px;
}


.navbar-content {
  margin: 0 20px;
  color: black;
  font-size: 20px;
  background-color: white;
}

.dropdown {
    float: right;
    margin: 10px;
}


/* footer */


.footer {
  // background-color: rgba(250, 250, 250, 0.9);
  // height: 15vh;
  margin-top: 20px;
}

.navbar-content :hover {
  background-color: white;
  border-radius: 5px;
  ul :hover {
    border-radius: 5px;
  }
    li :hover {
    border-radius: 5px;
  }
  a:hover{
        text-decoration:none; !important
        font-weight:bold; !important
        cursor:default; !important
}
